<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gallup Twin Finder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<a href="/redownload">Zaktualizuj dane z arkusza Google Sheets</a>
<br/>
<br/>

<form action="/find" method="get">
    <label>
        Podaj swoje imię i nazwisko (dokładnie w takiej samej postaci, jak w arkuszu Google Sheets):
        <input type="text" name="name"/>
    </label>
    <button type="submit">Szukaj</button>
</form>

<br/>

<p th:if="${error}">
    <strong style="color: red;" th:text="${error}"></strong>
</p>

<p th:if="${error == null && results != null && results.getHero() != null}">
    Wyniki dla <strong><span th:text="${results.getHero().getName()}"></span> <span th:text="${results.getHero().getTopFive()}"></span></strong>
</p>

<table th:if="${results != null}">
    <thead>
    <tr>
        <th> Imię i nazwisko </th>
        <th> Branża </th>
        <th> Top5 Talentów </th>
        <th> Liczba wspólnych Talentów w Top5 </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${results == null}">
        <td colspan="2"> Brak wyników </td>
    </tr>
    <tr th:each="twin : ${results.getTwins()}" style="color: green;">
        <td><span th:text="${twin.getName()}"></span></td>
        <td><span th:text="${twin.getDescription()}"></span></td>
        <td><span th:text="${twin.getTopFive()}"></span></td>
        <td><span>5</span></td>
    </tr>
    <tr></tr>
    <tr th:each="almostTwin : ${results.getAlmostTwins()}">
        <td><span th:text="${almostTwin.getName()}"></span></td>
        <td><span th:text="${almostTwin.getDescription()}"></span></td>
        <td><span th:text="${almostTwin.getTopFive()}"></span></td>
        <td><span>4</span></td>
    </tr>
    </tbody>
</table>

</body>
</html>