<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gallup Twin Finder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <style>
        .footer {
            margin-top: 2rem;
            left: 0;
            bottom: 1rem;
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body class="text-3xl lg:text-lg">

<div class="mx-auto px-4 py-4">
    <div class="flex flex-row justify-between space-x-2">
    <div class="text-3xl">
        Wyszukiwarka bliźniaków talentowych dla grupy
        <a class="hover:underline text-blue-500" href="https://www.facebook.com/groups/zpasjaomocnychstronach">"Z pasją o mocnych stronach"</a>
    </div>
        <button class="bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
               focus:outline-none focus:shadow-outline text-sm lg:text-md"
                onclick="
    document.getElementById('more-info').classList.remove('hidden');
    document.getElementById('more-info').classList.add('lg:flex', 'lg:flex-row');
">Więcej informacji</button>
    </div>

<div id="more-info" class="hidden">
        <div class="border border-gray-400 lg:border-gray-400 bg-white rounded-b lg:rounded p-4 justify-between leading-normal">
        <a class="hover:underline text-blue-500" href="https://docs.google.com/spreadsheets/d/18B7tI6tvgqYFeO3PeCV_pSjfUiYQrkJjKZOT0Q4K5YM/edit#gid=560605653">
    Link do arkusza.</a> Jeśli Cię tam nie ma, to nie znajdziesz tu dla siebie nic ciekawego ;)<br/>
    Aplikacja wyszukuje osoby posiadające co najmniej 4 takie same talenty w Top5 jak podana osoba.<br/><br/>
    Na ten moment osoby, które mają takie same imię i nazwisko jak ktoś inny w arkuszu, nie są obsługiwane (jest kilka takich przypadków).
    <br/>Brana pod uwagę jest pierwsza osoba o danym imieniu i nazwisku.
    <br/>Jeśli Ciebie dotyczy ten problem, to zmień swoje imię i nazwisko w arkuszu, a potem zaktualizuj dane poniżej.
    </div>

        <div class="border border-gray-400 lg:border-gray-400 bg-white rounded-b lg:rounded p-4 justify-between leading-normal">
<a class="hover:underline text-blue-500" href="/redownload">Zaktualizuj dane z arkusza Google Sheets</a> (Ostatnio pobrane: <span th:text="${lastSyncTime}"></span> czasu polskiego)<br/>
        </div>
</div>

<div class="w-full lg:max-w-xl mx-auto mt-8">
<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/find" method="get">
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="name">
            Imię i nazwisko (dokładnie w takiej postaci, jak w arkuszu)
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                      leading-tight focus:outline-none focus:shadow-outline"
               th:value="${results} ? ${results.getHero().getName()} : ''"
               type="text" name="name" id="name" placeholder="Imię i nazwisko"/>
    </div>
    <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
                       focus:outline-none focus:shadow-outline"
                type="submit">Szukaj</button>
        <a class="inline-block align-baseline font-bold lg:text-sm text-blue-500 hover:text-blue-800"
                href="/">Wyczyść</a>
    </div>
</form>
</div>

<br/>

<p th:if="${error}">
    <strong style="color: red;" th:text="${error}"></strong>
</p>

<p th:if="${error == null && results != null && results.getHero() != null}">
    Wyniki dla: <strong>
    <span th:text="${results.getHero().getName()}"></span> // <span th:text="${results.getHero().getDescription()}"></span> //
    <span th:text="${results.getHero().getTopFive()}"></span>
    </strong>
</p>

<table class="table-fixed max-w-full" th:if="${results != null}">
    <thead>
    <tr>
        <th class="w-1/6 px-4 py-2"> Imię i nazwisko </th>
        <th class="w-1/6 px-4 py-2"> Branża </th>
        <th class="w-3/6 px-4 py-2"> Top5 Talentów </th>
        <th class="w-1/6 px-4 py-2"> Liczba wspólnych Talentów w Top5 </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${results == null}">
        <td colspan="2"> Brak wyników </td>
    </tr>
    <tr th:each="twin : ${results.getTwins()}" style="color: green;">
        <td class="border px-4 py-2"><span th:text="${twin.getName()}"></span></td>
        <td class="border px-4 py-2"><span th:text="${twin.getDescription()}"></span></td>
        <td class="border px-4 py-2"><span th:text="${twin.getTopFive()}"></span></td>
        <td class="border px-4 py-2"><span>5</span></td>
    </tr>
    <tr></tr>
    <tr th:each="almostTwin : ${results.getAlmostTwins()}">
        <td class="border px-4 py-2"><span th:text="${almostTwin.getName()}"></span></td>
        <td class="border px-4 py-2"><span th:text="${almostTwin.getDescription()}"></span></td>
        <td class="border px-4 py-2"><span th:text="${almostTwin.getTopFive()}"></span></td>
        <td class="border px-4 py-2"><span>4</span></td>
    </tr>
    </tbody>
</table>

</div>

<div class="footer">
    <small>&copy; Copyright 2020 <a href="https://przedwojski.com">Szymon Przedwojski</a> // <a href="mailto:szymon.przedwojski@gmail.com">Zgłoś błąd lub zaproponuj poprawkę</a> // <a href="https://github.com/sprzedwojski/gallup-twins">Kod źródłowy na Githubie</a> </small>
</div>

</body>
</html>